@import "function";

//цвета

$white: #FFFFFF;
$green: #1ECD97;
$gray: #bbbbbb;
$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;


//шрифт

%header-fonts{
  color: #075985;
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: size(21, 1920);
}



//блоки отступы

%dispacebetween{
  display: flex;
  justify-content: space-between;
}

%disaling{
  display: flex;
  align-items: center;
}

%disdirect{
  display: flex;
  flex-direction: column;
}

$wrapper: size(1745, 1920);